<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <!--Load controlling code development -->

    <link rel="stylesheet" type="text/css" href="/css/game.css"/>


    <!--    <link rel="stylesheet"-->
<!--          th:href="@{/css/game.css}" />-->
</head>
<body>

    <div id="gameApp">
        <p>Welcome to the Maze Game, written by <strong>{{authorName}}</strong>.</p>


        <template v-if="gameMode === null">
            <!-- Manual buttons for control-->
            <p>
                <button v-on:click="newGame()">
                    single player Game
                </button>
                <button v-on:click="multiplayer()">
                    start multiplayer Game
                </button>
                <span>
                <button v-on:click="cheatShowAll()">
                    Cheat: Show All
                </button>
                <button v-on:click="increaseCatSpeed()">
                    Increase cat speed
                </button>
                <button v-on:click="decreaseCatSpeed()">
                    Decrease cat speed
                </button>
            </span>
            </p>

            <p>No game information available; try creating a new game?</p>

        </template>

        <template v-if="gameMode === 'single'">
            <!-- Manual buttons for control-->
            <p>
                <button v-on:click="newGame()">
                    single player Game
                </button>
                <button v-on:click="multiplayer()">
                    start multiplayer Game
                </button>
                <span>
                <button v-on:click="cheatShowAll()">
                    Cheat: Show All
                </button>
                <button v-on:click="increaseCatSpeed()">
                    Increase cat speed
                </button>
                <button v-on:click="decreaseCatSpeed()">
                    Decrease cat speed
                </button>
            </span>
            </p>

            <p>You have found {{game.numCheeseFound}} of {{game.numCheeseGoal}}!</p>

        </template>

        <template v-if="gameMode === 'multiple'">
            <!-- Manual buttons for control-->
            <p>
                <button v-on:click="newGame()">
                    start single player Game
                </button>
                <button v-on:click="multiplayer()">
                    start multiplayer Game
                </button>
                <span>
            </span>
            </p>
        </template>


        <!-- Board -->
        <template v-if="gameMode === 'single'">
            <div v-if="board != null">
                <table>
                    <tr v-for="(row, rowIdx) in board.hasWalls">
                        <td v-for="(isWall, colIdx) in row">
                            <div style="position: relative; left:0; top:0;">
                                <!-- Background -->
                                <img v-if="!board.isVisible[rowIdx][colIdx]" src="res/empty.png"/>
                                <img v-else-if="isWall" src="res/wall.png" />
                                <img v-else src="res/field.png"/>

                                <!-- Sprites: stack them on top of each other using relative position -->
                                <img v-if="locationMatches(board.cheeseLocation, colIdx, rowIdx)"
                                     src="res/cookie.png" class="stack"/>

                                <div v-if="locationMatches(board.firstUserLocation, colIdx, rowIdx)">
                                    <!-- Player image depends on if won/lost/playing -->
                                    <img v-if="game.isGameWon" src="res/smile.png" class="stack"/>
                                    <img v-else-if="game.isGameLost" src="res/cancel.png" class="stack"/>
                                    <img v-else src="res/person.png" class="stack"/>
                                </div>

                                <div v-for="catLoc in board.catLocations">
                                    <img v-if="locationMatches(catLoc, colIdx, rowIdx)"
                                         src="res/fox.png" class="stack"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <!-- Won / loss -->
                <h1 v-if="game.isGameWon">YOU WON! Congratulations!</h1>
                <h1 v-if="game.isGameLost">YOU LOST! Try again?</h1>
            </div>
        </template>

        <template v-if="gameMode === 'multiple'">
            <p>You have found {{multiplayerGame.firstPlayerNumCheeseFound}} of {{multiplayerGame.numCheeseGoal}}!</p>
            <template v-if="multiplayerGame.secondPlayerNumCheeseFound != null">
                <p>second player has found {{multiplayerGame.secondPlayerNumCheeseFound}} of {{multiplayerGame.numCheeseGoal}}!
            </template>

            <div v-if="multiplayerBoard != null">
                <table>
                    <tr v-for="(row, rowIdx) in multiplayerBoard.hasWalls">
                        <td v-for="(isWall, colIdx) in row">
                            <div style="position: relative; left:0; top:0;">
                                <!-- Background -->
                                <img v-if="!multiplayerBoard.isVisible[rowIdx][colIdx]" src="res/empty.png"/>
                                <img v-else-if="isWall" src="res/wall.png" />
                                <img v-else src="res/field.png"/>

                                <!-- Sprites: stack them on top of each other using relative position -->
                                <img v-if="locationMatches(multiplayerBoard.cheeseLocation, colIdx, rowIdx)"
                                     src="res/cookie.png" class="stack"/>

                                <div v-if="locationMatches(multiplayerBoard.firstUserLocation, colIdx, rowIdx)">
                                    <!-- Player image depends on if won/lost/playing -->
                                    <img v-if="multiplayerGame.isFirstPlayerWon" src="res/smile.png" class="stack"/>
                                    <img v-else-if="multiplayerGame.isFirstPlayerLost" src="res/cancel.png" class="stack"/>
                                    <img v-else src="res/person.png" class="stack"/>
                                </div>

                                <div v-if="locationMatches(multiplayerBoard.secondUserLocation, colIdx, rowIdx)">
                                    <!-- Player image depends on if won/lost/playing -->
                                    <img v-if="multiplayerGame.isSecondPlayerWon" src="res/smile.png" class="stack"/>
                                    <img v-else-if="multiplayerGame.isSecondPlayerLost" src="res/cancel.png" class="stack"/>
                                    <img v-else src="res/second-player.png" class="stack"/>
                                </div>

                                <div v-for="catLoc in multiplayerBoard.catLocations">
                                    <img v-if="locationMatches(catLoc, colIdx, rowIdx)"
                                         src="res/fox.png" class="stack"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>



                <!-- Won / loss -->
                <h1 v-if="multiplayerGame.isFirstPlayerWon">Player One WON! Congratulations!</h1>
                <h1 v-if="multiplayerGame.isFirstPlayerLost">Player One LOST!</h1>

                <h1 v-if="multiplayerGame.isSecondPlayerWon">PlayerTwo WON! Congratulations!</h1>
                <h1 v-if="multiplayerGame.isSecondPlayerLost">Player Two LOST!</h1>

            </div>
        </template>
    </div>


    <p>Icons created by <a href="https://www.everaldo.com/about">Everaldo Coelho</a>
        as part of the <a href="https://www.iconfinder.com/iconsets/crystalproject">Crystal Project</a>;
        used under LGPL.</p>
    <script>

    </script>
</body>


<script src="css/scripts/game.js"></script>
